/*
* Initial font-size for responsiveness
*/

html {
  font-size: 16px; /* Set base font size to 16 pixels */
}

body {
  font-size: 1rem; /* 1 rem = 16 pixels */
  font-family: 'Neue Haas Unica', sans-serif;
  color: $color-white;
}

.d-none {
  display: none;
}