
/* Colors */
$color-white: #FFFFFF;
$color-background: #191919;
$color-text: $color-white;
$color-primary: #4A52FF;
$color-hover-bg: $color-primary;

/* Media Queries Breakpoints */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
